# Dependências
node_modules/

# Logs
*.log
npm-debug.log*

# Ambiente
.env
.env.local
.env.*.local

# Build do Next.js
.next/
out/

# Cache
.cache/
*.tsbuildinfo

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Debug
*.log

